<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">Hand crafted chocolates, macarons & ice cream</p>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Actions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'New Category', new_category_path %></li>
              <li><%= link_to 'New Product', new_product_path %></li>
            </ul>
          </li>
        <% end %>
        <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
        <li>
          <%= link_to  root_path do %>
            <i class="fa fa-shopping-cart"></i> Cart
          <% end %>
        </li>
      <% else %>
        <li><%= link_to 'Sign In', login_path %></li>
        <li><%= link_to 'Join', signup_path %></li>
      <% end %>
    </ul>
  </div><!-- /.container -->
</nav>

<div align="center">
  <%= link_to image_tag("logo.png"), root_path %>
</div>

<nav class="navbar navbar-default navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% Category.all.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
        <% end  %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<hr>
