<%= render 'shared/carousel' %>

<div id="short-description">
  <h1>About Vietnam Chocolate</h1>
  <div class="container">
    <p>
      <strong>Chocolate and pastry</strong> are my passion! I love the creative process of designing memorably delicious desserts. I value technique and craftsmanship and am constantly refining our processes and recipes to meet my standards.
      When I founded the company in 2007 with my partner Tom, we had goals of offering an exceptional product along with outstanding customer service for customers and providing an engaging and rewarding culture for our employees. Those goals remain the same today!
    </p>
  </div>
  <hr>
  <h1>Our Products</h1>
  <p>
    Vietnam Chocolate brings a mastery of classical technique together with an intuitive understanding of chocolate's potential to produce exemplary chocolate creations.
  </p>
</div>
<div class="container">
  <div class="parent-home">
    <div class="child">
      <%= image_tag("product1.jpg") %>
      <%= image_tag("product2.jpg") %>
    </div>

    <div class="other-child">
      <%= image_tag("product3.jpg") %>
      <%= image_tag("product4.jpg") %>
      <div class="sub-child">
        <div class="small-child-1">
          <%= image_tag("product5.jpg") %>
        </div>

        <div class="small-child-2">
          <%= image_tag("product6.jpg") %>
        </div>
      </div>
    </div>
  </div>
</div>
