<div class="show-product">
  <div class="product-image">
    <%= image_tag(@product.image.url) %>
  </div>

  <div class="product-info">
    <div align="center">
      <h2><%= @product.name %></h2>
      <p><strong><%= number_to_currency(@product.price) %></strong></p>
      <%= button_to "Add to Cart", line_items_path(:product_id => @product.id), class: "btn btn-custom" %>
    </div>
    <hr>
    <p><%= @product.description %></p>
    <hr>
    <p class="red-text">
      <%= link_to "Back To #{@product.category.name}", category_path(@product.category) %>
    </p>
  </div>
</div>
